* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  color: #0f0f0f;
  background-color: #f6f6f6;
  background-image: url("/img/colors.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.99);
  border-radius: 12px;
  padding: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 95%;
  height: 90%;
  position: relative;
  z-index: 1;
  overflow: auto;
}

.container {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.logo {
  height: auto;
  max-width: 300px;
  padding: 0;
  margin-bottom: 2rem;
  will-change: filter;
  transition: 0.75s;
}

.logo:hover {
  filter: drop-shadow(0 0 1em rgba(36, 200, 219, 0.7));
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.user-selection {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

input,
button,
select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.user-dropdown {
  min-width: 350px;
  margin-right: 15px;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.7em center;
  background-size: 1em;
  padding-right: 2.5em;
  font-size: 1.3em;
  height: 3em;
}

button {
  cursor: pointer;
  min-width: 150px;
  font-size: 1.3em;
  font-weight: 600;
  height: 3em;
}

button:hover {
  border-color: #396cd8;
  background-color: #f5f5f5;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button,
select {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
    background-image: url("/img/colors.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button,
  select {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  .user-dropdown {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
