name: PyrePortal CI
run-name: CI workflow

on:
  pull_request:
    branches:
      - main
      - development
  push:
    branches:
      - development
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  version_check:
    if: github.event_name == 'pull_request' && github.base_ref == 'main'
    uses: ./.github/workflows/version-check.yml

  build:
    if: github.event_name == 'pull_request' && github.base_ref == 'main'
    needs: [lint, version_check]
    uses: ./.github/workflows/build.yml
